@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');

.heading1 {
    padding: 20px;
    font-family: 'Laila', sans-serif;
}

.heading1:hover {
    text-decoration-line: underline;
    text-decoration-color: #AE946D;
    text-decoration-thickness: 4px;
}

.task-part {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.project-container {
    height: calc(100vh - 100px);
}