@import url('https://fonts.googleapis.com/css2?family=Acme&family=Chewy&display=swap');

.nav_item {
    margin-left: 45px;
}

ul li a {
    color: white !important;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
}

ul li a:hover {
    text-decoration-line: underline;
    text-decoration-color: #AE946D;
    text-decoration-thickness: 3px;
}
